<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de configuracion</title>
</head>
<body>
<h3 style="align-items: center">Configuracion del Juego de Ahorcado</h3>
<form style="margin-left: auto">
    <label>Longitud de la palabra:</label><br>
    <input type="number" name="longitud"/><br>
    <label>Numero maximo de intentos:</label><br>
    <input type="number" name="intentos"/><br>
    <label>Tema del juego:</label><br>
    <input type="text" name="tema"/><br>

    <input type="button" name="iniciar"><br>

</form>

</body>
</html>